    /*
      Flaticon icon font: Flaticon
      Creation date: 04/04/2017 07:35
      */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;

}

.flaticon-picture:before { content: "\f100"; }
.flaticon-like:before { content: "\f101"; }
.flaticon-music-player:before { content: "\f102"; }
.flaticon-photo-camera:before { content: "\f103"; }
.flaticon-phone-call:before { content: "\f104"; }
.flaticon-placeholder:before { content: "\f105"; }
.flaticon-unlink:before { content: "\f106"; }
.flaticon-linked-in-logo-of-two-letters:before { content: "\f107"; }
.flaticon-skype:before { content: "\f108"; }
.flaticon-instagram-social-outlined-logo:before { content: "\f109"; }
.flaticon-twitter:before { content: "\f10a"; }
.flaticon-facebook:before { content: "\f10b"; }
.flaticon-message:before { content: "\f10c"; }
.flaticon-play-button:before { content: "\f10d"; }
.flaticon-pizza-slice:before { content: "\f10e"; }
