<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Contact US Email Template</title>
  <meta name="description" content="Verify Email Template." />
  <style type="text/css">
    a:hover {
      text-decoration: underline !important;
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8" leftmargin="0">
  <!--100% body table-->
  <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8" style="
        @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);
        font-family: 'Open Sans', sans-serif;
      ">
    <tr>
      <td>
        <table style="background-color: #f2f3f8; max-width: 1000px; margin: 0 auto" width="100%" border="0"
          align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td style="height: 80px">&nbsp;</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
          </tr>
          <tr>
            <td style="height: 20px">&nbsp;</td>
          </tr>
          <tr>
            <td>
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="
                    max-width: 1000px;
                    background: #fff;
                    border-radius: 0px;
                    text-align: center;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  ">
                <tr>
                  <td>
                    <a href="#"><img src="https://i.ibb.co/RNyzbf8/mainLogo.png" alt="mainLogo"
                        style="margin-top: 20px;" width="200" border="0"></a>
                    <h2 style="
                        color: #1e1e2d;
                        font-weight: 500;
                        margin-top: 20px;
                        font-size: 26px;
                        font-family: 'Rubik', sans-serif;
                      ">
                      Student Application Form
                    </h2>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span style="
                        display: inline-block;
                        vertical-align: middle;
                        margin: 10px 0 26px;
                        border-bottom: 1px solid #0f0f0f;
                        width: 60%;
                      "></span>
                  </td>
                </tr>
              </table>
              <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="
                    max-width: 1000px;
                    background: #fff;
                    border-radius: 0px;
                    text-align: center;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  ">
                <tr>
                  <td style="height: 40px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="text-align: left; padding-left: 100px;">
                    <p>
                    <h2>Basic Details</h2>
                    <br>
                    <div>
                      <p><b>First Name:</b><span>{{firstName}}</span></p>
                      <p><b>Last Name:</b><span>{{lastName}}</span></p>
                      <p><b>Email:</b><span> {{email}}</span></p>
                      <p><b>Phone Number:</b><span> {{phone}}</span></p>
                      <p><b>DOB:</b><span> {{dateOfBirth}}</span></p>
                      <p><b>Address:</b><span> {{address}}</span></p>
                      <p><b>State:</b><span> {{state}}</span></p>
                      <p><b>City:</b><span> {{city}}</span></p>
                      <p><b>Pin Code:</b><span> {{pinCode}}</span></p>
                    </div>
                    </p>
                  </td>
                  <td style="text-align: left; padding-left: 100px; padding-right: 100px;">
                    <p>
                    <h2>Course Details</h2>
                    <br>
                    <div>
                      <p><b>Applying For:</b><span> {{apply}}</span></p>
                      <p><b>Country:</b><span> {{country}}</span></p>
                      <p><b>University:</b><span> {{university}}</span></p>
                      <p><b>Degree:</b><span> {{department}}</span></p>
                      <p><b>Area of Study:</b><span> {{education}}</span></p>
                      <p><b>Loan Amount:</b><span> {{loanAmount}}</span></p>
                      <p><b>Offer Status:</b><span> {{status}}</span></p>
                      <p><b>Received Offer Letter:</b><span> {{livingExpense}}</span></p>
                      <p><b>Property For Collateral:</b><span> {{collateral}}</span></p>
                    </div>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;height: 100px;padding-left: 100px; padding-top: 100px;">
                    <p>
                    <h2>Education Details</h2>
                    <br>
                    <div style="height: 100%;">
                      <p><b>Current degree:</b><span>{{degree}}</span></p>
                      <p><b>Area of Study:</b><span>{{course}}</span></p>
                      <p><b>Current College:</b><span> {{college}}</span></p>
                      <p><b>CGPA:</b><span> {{cgpa}}</span></p>
                      <p><b>10th Percentage:</b><span> {{tenPercentage}}</span></p>
                      <p><b>12th Percentage:</b><span> {{twelvePercentage}}</span></p>
                      <p><b>Backlogs:</b><span> {{backlogs}}</span></p>
                      <p><b>Backlogs No.:</b><span> {{backlogsNumber}}</span></p>
                      <p><b>APPEAR IELTS:</b><span> {{test}}</span></p>
                    </div>
                    </p>
                  </td>
                  <td style="text-align: left;height: 100px; padding-top: 100px; padding-left: 100px; padding-right: 100px;">
                    <p>
                    <h2>Test Scores</h2>
                    <br>
                    <div style="height: 100%;">
                      {{#each testScores}}
                      <p><b>{{this.testName}}:</b><span> {{this.score}}</span></p>
                      {{/each}}
                    </div>
                    </p>
                  </td>
                </tr>
              
              </table>

            </td>
          </tr>
          <tr>
            <td>
              <table width="95%" height="80%" border="0" align="center" cellpadding="0" cellspacing="0" style="
                    max-width: 1000px;
                    margin-top: 40px;
                    background: #fff;
                    border-radius: 0px;
                    text-align: center;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  ">
              
                
                <tr >
                  <td style="text-align: left; padding-left: 100px; padding-top: 50px;">
                    <p>
                    <h2>Co-Applicant Details'1</h2>
                    <br>
                    <div>
                      <p><b>Name:</b><span>{{applicantDetailOne.name}}</span></p>
                      <p><b>Relation:</b><span>{{applicantDetailOne.relation}}</span></p>
                      <p><b>Phone Number:</b><span> {{applicantDetailOne.telephone}}</span></p>
                      <p><b>Email:</b><span> {{applicantDetailOne.email}}</span></p>
                      <p><b>Monthly Income:</b><span> {{applicantDetailOne.monthlyIncome}}</span></p>
                      <p><b>Pan Number:</b><span> {{applicantDetailOne.panNumber}}</span></p>
                      <p><b>Aadhar Number:</b><span> {{applicantDetailOne.adharNumber}}</span></p>
                    
                    </div>
                    </p>
                  </td>
                  <td style="text-align: left; padding-left: 100px; padding-right: 100px; padding-top: 50px;">
                    <p>
                    <h2>Co-Applicant Details'2</h2>
                    <br>
                    <div>
                      <p><b>Name:</b><span>{{applicantDetailTwo.name}}</span></p>
                      <p><b>Relation:</b><span>{{applicantDetailTwo.relation}}</span></p>
                      <p><b>Phone Number:</b><span> {{applicantDetailTwo.telephone}}</span></p>
                      <p><b>Email:</b><span> {{applicantDetailTwo.email}}</span></p>
                      <p><b>Monthly Income:</b><span> {{applicantDetailTwo.monthlyIncome}}</span></p>
                      <p><b>Pan Number:</b><span> {{applicantDetailTwo.panNumber}}</span></p>
                      <p><b>Aadhar Number:</b><span> {{applicantDetailTwo.adharNumber}}</span></p>
                  
                    </div>
                    </p>
                  </td>
                </tr>

                <tr>
                  <td style="height: 40px">&nbsp;</td>
                </tr>
                
                <tr style="height: 200px;">
                  <td style="text-align: left; padding-left: 100px;">
                    <p>
                    <h2>Application's Documents </h2>
                    <br>
                    <div>
                      {{#each appDocuments}}
                      <p><b>{{this.name}}:</b><a href="{{this.file}}"> {{this.fileName}}</a></p>
                      {{/each}}
                    </div>
                    </p>
                  </td>
                
                </tr>

                <tr>
                  <td style="height: 60px">&nbsp;</td>
                </tr>

              </table>
            </td>
          </tr>
          <tr>
            <td style="height: 80px">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!--/100% body table-->
</body>

</html>